<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	{% if page_title %}
		<title>{{ page_title }} // Workflow Icon Generator</title>
	{% else %}
		<title>Workflow Icon Generator</title>
	{% endif %}

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Skeleton -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/base.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/skeleton.css') }}" />
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/layout.css') }}" /> -->
	<!-- End Skeleton -->

	<!-- Custom styles -->
	{% block stylesheets %}{% endblock %}
	<!-- End custom styles -->

	<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/iconserver.css') }}" />

	<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.cookie.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('.static', filename='js/spectrum.js') }}"></script>

		<!-- Custom JavaScript -->
	{% block scripts %}{% endblock %}
	<!-- End custom JavaScript -->

</head>
<body>
	<div id="content" class="container">
		{% block content %}{% endblock %}
		<footer class="sixteen columns">
			{% autoescape off %}
			{{ config.HTML_FOOTER }}
			{% endautoescape %}
		</footer>
	</div>
</body>
</html>