{% extends 'base.html' %}

{% block content %}
<div class="sixteen columns">
	<h1>Workflow Icon Generator</h1>
	<p>
		Generate icons for your <a href="http://www.alfredapp.com/" target="_new">Alfred 2</a> workflows.
	</p>
	<h2>Usage</h2>
	<p>
		This webservice is a backend service for the <a href="https://github.com/shawnrice/alfred-bundler" target="_new">Alfred bundler</a>.
	</p>
	<h2>Supported icons/fonts</h2>
	<p>These fonts are currently supported by the service. Click the "preview" links to see the each font's icons and their names.</p>
	<table>
		<thead>
			<th>Font</th>
			<th>Bundler name</th>
			<th>Preview</th>
		</thead>
		<tbody>
			{% for id_ in config.FONTS|sort %}
				{% with font = config.FONTS[id_] %}
					<tr>
						<td><a href="{{ font['url'] }}" target="_new">{{ font['name'] }}</a></td>
						<td><code>{{ id_ }}</code></td>
						<td><a href="{{ url_for('preview', font=id_) }}">View icons</a></td>
					</tr>
				{% endwith %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
