{% extends 'base.html' %}

{% block content %}
<h1>Workflow Icon Generator</h1>
<p>
	Generate icons for your <a href="http://www.alfredapp.com/">Alfred 2</a> workflows.
</p>
<h2>Usage</h2>
<p>
	This webservice is a backend service for the <a href="https://github.com/shawnrice/alfred-bundler">Alfred bundler</a>.
</p>
<h2>Supported fonts/icons</h2>
<p>These fonts are currently supported by the service. Click to view the available icons.</p>
<ul class='square add-bottom'>
	{% for id_ in config.FONTS|sort %}
		<li><a href="{{ url_for('preview', font=id_) }}">{{ config.FONTS[id_]['name'] }}</a></li>
	{% endfor %}
</ul>
{% endblock %}
