{% set page_title=font['name'] %}
{% extends 'base.html' %}

{% import '_widgets.html' as widgets %}


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/' + font['css']) }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/spectrum.css') }}" />
{% endblock %}


{% block content %}
<div class="sixteen columns">
	<h1>{{ font['name'] }}</h1>
	<p>{{ font['name'] }} was created by <a href="{{ font['url'] }}" target="_blank">{{ font['credit'] }}</a>.
	View the <a href="{{ font['licence'] }}" target="_blank">licence</a>.
	</p>
</div>

<div class="sixteen columns">
	{{ widgets.index_link() }}
</div>
<div class="sixteen columns">
		{{ widgets.icon_controls() }}
</div>

<hr/>

<div class="sixteen columns" id="icons">
	{% for char in font['characters']|sort %}
		<div class="five columns">
		<span class="preview {{ font.cssclass(char) }}"></span>
		 <a href="{{ url_for('get_icon', font=font['id'], colour='444', character=char) }}" class="previewLink" data-font="{{ font['id'] }}">{{ char }}</a>
		</div>
	{% endfor %}
</div>

{{ widgets.index_link() }}

{% endblock %}
