
div#content {
	margin-top: 40px;
	margin-bottom: 60px;
}

span.preview {
	display: inline-block;
	width: 60px;
	height: 60px !important;
}

pre, code {
	font-family: "Source Code Pro", "Monaco", "Courier New", monospace;
	background-color: #eee;
}

pre {
	overflow: scroll;
}

nav {
	position: fixed;
	width: 120px;
}

nav ul {
	margin-bottom: 0;
}

nav ul li {
	display: block;
	margin: 10px 0;
}

footer {
	text-align: center;
	border-top: 1px solid #d8d7d7;
	font-size: 10px;
	padding-top: 4px;
}

div.errorMsg {
	text-align: center;
}

/* Tables
================================================================*/

table {
	border-collapse: collapse;
}

tbody tr:nth-child(odd) {
	background-color: #f6f6f6;
}

tbody tr:nth-child(even) td {
	border-bottom: 2px solid #eee;
}

th, td {
	padding: 5px 8px;
	border-right: 2px solid #fff;
	text-align: left;
}

th {
	font-weight: bold;
	background-color: #eee;
	border-bottom: 2px solid #ccc;
}

td {
	border-bottom: 2px solid #fff;
}

img.allPreview {
	border: 1px solid blue;
}

/* System icons preview */

table#system-preview tbody tr td {
	text-align: center;
}

table#system-preview tbody tr td:first-child {
	text-align: left;
}

/* Mobile
================================================================*/

	/* Mobile/Browser */
@media only screen and (max-width: 767px) {
	nav {
		display: none;
	}
}

	/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

	/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {
}


	/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {
}

	/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {
}

	/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
}

	/* Anything smaller than standard 960 on a device */
@media only screen and (max-width: 959px) and (max-device-width: 1000px) {
    .resize {
        display: none;
    }
}
